include I2T2/data/chest-xray/*dcm
include I2T2/data/knee/*dcm
include I2T2/data/knee-segmentation/*h5

include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
recursive-exclude * __pycache__
